body {
        margin: 0%;
        padding: 0%;
}





ul {
        display: flex;
        height: 1cm;
        position: sticky;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000000;
        display: inline-block;
        
        



}

li {
        display: inline;
        background-color: #000000;
        width: auto;
        text-align: center;
        

}

li a {
        width: 100%;
        border-color: #000000;
        display: inline;
        color: black;
        text-align: center;

        text-decoration: none;
        padding-top: 3mm;
        padding-bottom: 3mm;
        padding-left: 3mm;
        padding: 3mm;
        color: white;
        margin-left: 70px;
        margin-right: 70px;
        border: solid 3px;
        border-color: rgb(255, 0, 0);
        font-family: 'Courier New', Courier, monospace;
}

li a:hover {
        background-color: rgb(255, 0, 0);
}


body {
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
}

#en_cartelera {
        box-sizing: border-box;
        text-align: center;
        padding: 10px;
        background-color: rgb(0, 0, 0);
        margin-top: 30px;
        margin-left: 427px;
        margin-right: 427px;
        margin-bottom: 20px;
        border: solid 3px;
        border-color: rgb(255, 0, 0);
        color: azure;
        font-family: 'Courier New', Courier, monospace;


}

nav{
        text-align: center;
}

#primera_peli{
        box-sizing: border-box;
        border: solid  3px;
        width:1280px;
        height: 300px;
       
        
}
        
