body {
        margin: 0%;
        padding: 0%;
}





ul {

        height: 1cm;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000000;
        display: inline-block;
        width: 1280px;
        width: 100%;





}

li {
        display: inline;
        background-color: #000000;
        width: auto;
        text-align: center;



}

a {
        cursor: pointer;
}

li a {
        width: 100%;
        border-color: #000000;
        display: inline;
        color: black;
        text-align: center;
        text-decoration: none;
        padding-top: 3mm;
        padding-bottom: 3mm;
        padding-left: 3mm;
        padding: 3mm;
        color: white;
        margin-left: 70px;
        margin-right: 70px;
        border: solid 3px;
        border-color: rgb(255, 0, 0);
        font-family: 'Courier New', Courier, monospace;
}

li a:hover {
        background-color: rgb(255, 0, 0);
}


body {
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
}

#en_cartelera {
        box-sizing: border-box;
        text-align: center;
        padding: 10px;
        background-color: rgb(0, 0, 0);
        margin-top: 30px;
        margin-left: 427px;
        margin-right: 427px;
        margin-bottom: 20px;
        border: solid 3px;
        border-color: rgb(255, 0, 0);
        color: azure;
        font-family: 'Courier New', Courier, monospace;


}

nav {
        text-align: center;
        position: sticky;
        top: 0;



}

.contenedorpeli {
        display: flex;
        background-color: transparent;
}

.posterpeli {

        width: 50%;
        display: flex;
        justify-content: center;

}





img {
        height: 100%;
        width: auto;
        border: solid 3px;
        border-color: white;




}


section>div {
        background-color: beige;
        margin-left: 0%;
        margin-right: 0%;
        height: 250px;
        margin-top: 50px;

}

.titulo_y_sinopsis {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: white;
        width: 50%;
        font-family: 'Courier New', Courier, monospace;
        padding-left: 0%;
        margin-left: 0%;
        height: 100%;
}

div p {
        margin-left: 1cm;
        margin-right: 1cm;

}

.scroll {

        margin-left: 1cm;
        margin-right: 1cm;
        overflow-y: scroll;

}

div h1 {
        margin-left: 1cm;
        margin-right: 1cm;
}


footer {
        background-color: rgb(83, 102, 83);
        height: 100px;

}

#botonruleta {
        display: flex;
        background-color: red;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0%;
        width: fit-content;
        text-align: center;
        justify-content: center;
        border: 1px solid;
        border-color: red;



}

#botonruleta a:hover {
        background-color: black;
        border: 1px solid;
        border-color: red;


}

#textobotonruleta {
        font-family: Arial, Helvetica, sans-serif;
        color: white;

}

a:link,
a:visited,
a:active {
        text-decoration: none;
}



.pelirandom {
        background-color: white;
}

#headerrandom {
        background-color: gray;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        padding: 15px;
        margin: 15px;
}


#randomizer {
        display: flex;
        justify-content: center;
}

#randomizer button {

        display: flex;
        width: 33%;
        background-color: red;
        color: white;
        
        padding: 10px;
        text-align: center;
        justify-content: center;
}